/*Police dans le corp de la page*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #484848;
}
/*Réduction de l'écart entre les éléments présents dans le header et ses bords*/
.page-header {
    padding-bottom: 9px;
    margin: 15px 0 0px;
    border-bottom: 1px solid #ff5c5c;
}

/*Couleurs des liens et évênements lorsque la souris passent dessus*/
a {
    color: #484848;
    text-decoration: none;
    font-family: 'pacifico', sans-serif;
}
a:hover,
a:focus {
    color: #484848;
    text-decoration: underline;
}

#menuEntete{
    color: #484848;
    text-decoration: none;
}

/*Couleurs des éléments contenat les liens (navbar et li) et évênements lorsque la souris passent dessus*/
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    text-decoration: underline;
    background-color: #eee;

}


/*Taille logo*/
.logo{
    height: 50px;
    width: 50px;
}

/*Couleur titre jams*/
.jams{
    color: #ff5c5c;
    font-size: 48px; 
    line-height: 56px;
    letter-spacing: -0.8px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    font-weight: 300; 
}

/*Texte page d'acceuil sous la banniere*/
.texteAccueil{
    font-size: 48px; 
    line-height: 56px;
    letter-spacing: -0.8px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    color: #484848; 
    font-weight: 300; 
}

/*Pied de page et lien présent dans celui-ci*/
.footer{
    color: #eee;
    text-align: center;
}

a.footer:hover,
a.footer:focus {
    color: #eee;
    text-decoration: underline;
}



footer {
    margin-top: 20px; 
    background-color: #484848;
    color: #eee;
    padding: 15px;
    text-align: center;
    margin-bottom: 0px;
}

.ficheTrajet{
    border: 1px solid #484848;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.ficheUtilisateurMoncompte{
    padding: 0 17px 17px 17px;
    border: 1px solid #ddd;
    margin: 10px;
}

.bouttonFicheTrajet{
    margin: auto
}

.tableauDeBordLeft{
    padding: 0 17px 17px 17px;
    border-bottom: 1px solid #ddd;
}

.btn-perso{
    color: #fff;
    background-color: #ff5c5c;
    border-color: #ff5c5c;
}

.btn-perso2{
    color: #fff;
    background-color: #00a78e ;
    border-color: #00a78e;
}

.enteteUtilisateur{
    margin-right: 4px;
    padding: 2px;
    border: 1px solid #484848;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    min-width: 250px !important;
    padding: 5px;
    margin: 2px 0 0;
}

#divImgDrop{
    margin: 20px 15px;
}
imgDrop {
    display: block;
    margin: auto;
}
.img-fluid{
    width: 100%;
    height: auto;
}

scroll-container {
  display: block;
  width: 350px;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}